<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>robin</servlet-name>
    <servlet-class>servletDemo.FirstServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>second</servlet-name>
    <servlet-class>servletDemo.SecondServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>form</servlet-name>
    <servlet-class>servletDemo.FormServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>robin</servlet-name>
    <url-pattern>/get/first</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>second</servlet-name>
    <url-pattern>/method</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>form</servlet-name>
    <url-pattern>/submit</url-pattern>
  </servlet-mapping>

</web-app>
